@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    body {
      @apply bg-emerald-700;
      background-image: url('https://www.transparenttextures.com/patterns/asfalt-light.png');
      /* background-size: cover;
      background-position: center;
      background-repeat: no-repeat; */
    }
  }